<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Tableau de Bord</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">               
                <div>
                    <h4 class="mb-1 mt-1">{{statistiqueList.usersTotal}}</h4>
                    <p class="text-muted mb-0">Utilisateurs Total</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">               
                <div>
                    <h4 class="mb-1 mt-1">{{statistiqueList.partenairesTotal}}</h4>
                    <p class="text-muted mb-0">Partenaires Total</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">               
                <div>
                    <h4 class="mb-1 mt-1">{{statistiqueList.hebergementTotal}}</h4>
                    <p class="text-muted mb-0">Hebergement Total</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">

        <div class="card">
            <div class="card-body">               
                <div>
                    <h4 class="mb-1 mt-1">{{statistiqueList.destinationTotal}}</h4>
                    <p class="text-muted mb-0">Destination Total</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">               
                <div>
                    <h4 class="mb-1 mt-1">{{statistiqueList.inspirationTotal}}</h4>
                    <p class="text-muted mb-0">Inspiration Total</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">               
                <div>
                    <h4 class="mb-1 mt-1">{{statistiqueList.insoliteTotal}}</h4>
                    <p class="text-muted mb-0">Insolite Total</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">               
                <div>
                    <h4 class="mb-1 mt-1">{{statistiqueList.reservationTotal}}</h4>
                    <p class="text-muted mb-0">Reservation Total</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-3">

        <div class="card">
            <div class="card-body">               
                <div>
                    <h4 class="mb-1 mt-1">{{statistiqueList.commentaioreTotal}}</h4>
                    <p class="text-muted mb-0">Commentaiore Total</p>
                </div>
            </div>
        </div>
    </div>
</div>

